@use 'base/variables' as v;
@use 'base/mixins' as m;

/* UTITLITIES */
.py-5 {
    padding: 5rem 0;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary-color;
}

.bg-light {
    background-color: v.$light-color;
}

.negative-margin-10 {
    padding: 8rem 2.5rem;
    @include m.tablet {
        padding: 10rem 8rem;
    }
    margin-top: -10rem;
    position: relative;
}

.border-top-radius {
    border-top-left-radius: v.$border-radius-medium;
    border-top-right-radius: v.$border-radius-medium;
}

.border-bottom-radius {
    border-bottom-left-radius: v.$border-radius-medium;
    border-bottom-right-radius: v.$border-radius-medium;
}

.padding-bottom-0 {
    padding-bottom: 0;
    margin-bottom: -1px;
}