@use 'variables' as v;
@use 'mixins' as m;

/* GLOBAL STYLES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: v.$font-size-normal;
    line-height: v.$line-height-normal;
    font-family: v.$font-family-primary;
    background-color: v.$light-brown;
}

h1,
h2,
h3 {
    font-weight: v.$font-weight-bold;
    line-height: v.$line-height-normal;
    font-family: v.$font-family-secondary;
    margin: 0 0 v.$spacing-medium 0;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: v.$h1-font-size;
}

h2 {
    color: v.$primary-color;
    font-size: v.$h2-font-size;
    margin-bottom: 2rem;

    span {
        display: block;
        font-size: v.$font-size-normal;
        color: v.$secondary-color;
    }

    @include m.tablet {
        font-size: calc(v.$h2-font-size + .8rem);
    }

    &::after {
        content: '';
        width: 10rem;
        height: 10rem;
        display: block;
        margin: 0 auto;
        background-image: url('../images/cafe.svg');
        background-size: 10rem;
    }
}

// .light-heading {
//     @extend h2; //<-- Inherits the styles of the h2 tag
// }

h3 {
    font-size: v.$h3-font-size;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    color: v.$dark-color;
    font-size: v.$font-size-normal;
    line-height: v.$line-height-medium;
}

label {
    display: block;
    text-transform: uppercase;
    font-weight: v.$font-weight-bold;
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}