@use 'variables' as v;
@use 'mixins' as m;

/* UTITLITIES */
.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary-color;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;

    @include m.tablet {
        width: 95%;   
    }
}