@use 'variables' as v;

/* UTITLITIES */
.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary-color;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    width: 95%;
}