@use 'variables' as v;
@use 'mixins' as m;

/* UTITLITIES */
.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary-color;
}

.bg-light {
    background-color: v.$light-color;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

.negative-margin-10 {
    padding: 10rem 2.5rem 5rem 2.5rem;
    margin-top: -10rem;
    position: relative;
}