// COLOR PALETTE
$primary-color: #5E311E;
$secondary-color: #C39C63;
$light-color: #FFF;
$dark-color: #000;
$light-grey: #ECEEEF;
$light-brown: #EBE7DE;


// FONT FAMILY
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;
$font-family-tertiary: 'Bona Nova', serif;

// FONT SIZES
$font-size-normal: 1.8rem;
$font-size-medium: 2rem;

$h1-font-size: 3rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.5rem;

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// LINE HEIGHTS
$line-height-normal: 1.5;
$line-height-medium: 2;

// SPACING
$spacing-normal: 2.5rem;
$spacing-medium: 5rem;
$spacing-large: 10rem;

// MEDIA QUERIES
$mq-mobile: 480px;
$mq-tablet: 768px;
$mq-desktop: 992px;