// COLOR PALETTE
$primary-color: #E8505B;
$primary-color-hover: #C63D47;
$secondary-color: #455A64;
$secondary-color-hover: #37474F;
$light-color: #FFF;
$dark-color: #000;
$light-grey: #ECEEEF;

// FONT FAMILY
$font-family-primary: 'Roboto', sans-serif;

// FONT SIZES
$font-size-normal: 1.6rem;
$font-size-medium: 2rem;

$h1-font-size: 4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3.2rem;

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// LINE HEIGHTS
$line-height-normal: 1.5rem;

// SPACING
$spacing-normal: 2.5rem;
$spacing-medium: 5rem;
$spacing-large: 10rem;

// MEDIA QUERIES
$mq-mobile: 480px;
$mq-tablet: 768px;
$mq-desktop: 1024px;