@use 'base/variables' as v;
@use 'base/mixins' as m;

/* MAIN SECTION */
.main-content {
    background-color: v.$light-color;
    padding: calc(v.$spacing-normal + 2rem) v.$spacing-normal ;

    @include m.tablet {
        padding: v.$spacing-large;
        margin-top: -10rem;
        position: relative;
    }
}