@use 'base/variables' as v;
@use 'base/mixins' as m;

/* HEADER SECTION */
.header {
    padding: 5rem 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    @include m.tablet {
        min-height: 70rem;    
    }

    &::before {
        content:'';
        position: absolute;
        background-color: v.$dark-color;
        opacity: 0.6;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .header-content {
        position: relative;

        h1 {
            text-align: center;
            font-size: 2.2rem;
            color: v.$light-color;
            font-weight: v.$font-weight-bold;
            text-transform: uppercase;
            margin: calc(v.$spacing-medium + 1rem) 0 10rem 0;
            padding: 0 2rem;
        }

        @include m.tablet {
            h1 {
                font-size: calc(v.$h1-font-size + 1rem);
                margin: 10rem 0;
            }
        }
    }
}

// Header of each page
.header-index {
    background-image: url('../images/header_inicio.jpg');
}

.header-about {
    background-image: url('../images/header_nosotros.jpg');
}

.header-process {
    background-image: url('../images/header_proceso.jpg');
}

.header-menu {
    background-image: url('../images/header_menu.jpg');
}

.header-gallery {
    background-image: url('../images/header_galeria.jpg');
}

.header-contacto {
    background-image: url('../images/header_contacto.jpg');
}
