@use 'base/variables' as v;
@use 'base/mixins' as m;

/* NAVBAR LINKS */
.links {
    display: flex;
    flex-direction: column;
    margin-top: v.$spacing-normal;

    a {
        text-align: center;
        color: v.$light-color;
        font-size: v.$font-size-medium;
        font-weight: v.$font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 1rem;

        &:hover {
            color: v.$secondary-color;
        }

        &.active {
            color: v.$secondary-color;
        }
    }

    @include m.tablet { 
        flex-direction: row;
        margin-top: 0;

        a {
            margin: 0 .7rem;
        }

        a:last-child {
            margin-right: 0;
        }
    }
}