@use 'base/variables' as v;
@use 'base/mixins' as m;

/* FOOTER */
.footer {
    background-color: v.$primary-color;
}

.footer-content {
    padding: v.$spacing-medium v.$spacing-normal;
    position: relative;

    @include m.tablet {
        display: grid;
        @include m.grid(3, 2rem);
    }
}

.footer-box {
    margin-bottom: 5rem;

    @include m.tablet {
        margin-bottom: 0;
    }

    h3 {
        color: v.$secondary-color;
        font-family: v.$font-family-tertiary;
        margin-bottom: 1rem;
    }

    p {
        font-family: v.$font-family-tertiary;
        font-size: v.$font-size-medium;
        line-height: v.$line-height-normal;
        text-align: center;
    }
}

.copyright {
    padding: v.$spacing-normal;
    font-size: 1.6rem;
    color: v.$light-color;
}