@use 'base/variables' as v;
@use 'base/mixins' as m;

/* FOOTER */
.footer-content {
    padding: v.$spacing-medium v.$spacing-normal;
    background-color: v.$light-color;
    position: relative;

    @include m.tablet {
        display: grid;
        @include m.grid(3, 2rem);
    }
}

.footer-box {
    margin-bottom: 5rem;

    @include m.tablet {
        margin-bottom: 0;
    }

    h3 {
        color: v.$secondary-color;
        font-family: v.$font-family-tertiary;
        margin-bottom: 1rem;
    }

    p {
        font-family: v.$font-family-tertiary;
        font-size: v.$font-size-medium;
        line-height: v.$line-height-normal;
        text-align: center;
    }
}

.copyright {
    background-color: v.$primary-color;
    padding: 25rem 2.5rem 2.5rem 2.5rem;
    margin-top: -22.5rem;

    p {
        font-size: 1.6rem;
        color: v.$light-color;
    }
}